.shopcategory-banner {
  display: block;
}

.shopcategory-indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-sort {
  border-radius: 2rem;
}

.shopcategory-products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 4rem;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}