.shop-category {
  display: flex;
  flex-direction: column;
}

.shopcategory-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-primary);
  height: 10vh;
}

.shopcategory-banner h1 {
  text-align: center;
  line-height: 0.9;
  font-size: 3rem;
  font-weight: 600;
  position: relative;
  text-shadow: 4px 4px var(--primary);
}

.shopcategory-indexSort {
  padding: 1rem 13rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-sort {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  width: 8rem;
  background-color: var(--background);
  border: 2px solid var(--text);
}

.shopcategory-products {
  padding: 3rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
}

.pagination {
  align-self: center;
  margin-bottom: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.pagination button {
  width: 8rem;
  height: 2.5rem;
}

