.offers {
  padding: 0;
  margin: 0;
}

.offers .wavy-border {
  margin-top: 3rem;
  background-image: url('../assets/wavy_accent.png');
  background-size: cover;
  width: 100%;
  height: 18vh;
}

.offers-container {
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.offers-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70rem;
}

.offers-left h1 {
  position: relative;
  line-height: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5rem;
  font-weight: 600;
  text-shadow: 4px 4px var(--primary);
}

.offers span {
  font-size: 3rem;
  text-wrap: nowrap;
  text-shadow: 4px 4px var(--primary);
}

.offers-left p {
  text-align: center;
  font-size: 1.25rem;
  text-wrap: wrap;
  width: 45rem;
  padding: 3rem 0;
  font-weight: 600;
}

.offers-left button {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  background: var(--text);
  color: var(--background);
}

.offers .star-1, .offers .star-2, .offers .star-3, .offers .star-4 {
  position: absolute;
  width: 5rem;
}

.offers .star-1 {
  top: -2rem;
  left: -5rem;
}

.offers .star-2 {
  top: 4rem;
  left: 30rem;
}

.offers-right {
  flex: 1;
  display: flex;
}

.offers-img {
  width: 30rem;
  margin-right: 10rem;
  z-index: 2;
}
