.fixed-bar {
  background-color: var(--secondary);
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.05cm;
  border-bottom: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background: var(--primary);
  padding: 0.5rem;
  border-bottom: 2px solid black;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo h1 {  
  color: var(--text);
  letter-spacing: 0.01cm;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  color: var(--text);
  font-size: 1rem;
  font-weight: 500;
}

a {
  color: inherit;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
}

.nav-menu li:hover {
  color: var(--background);
}

.nav-login-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.nav-login-cart button {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
  background: var(--text);
  color: var(--background);
}

.cart-icon {
  padding-top: 0.4rem;
  margin-left: 1rem;
  width: 3rem;
  height: 3rem;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  margin-left: -20px;
  margin-top: -35px;
  border-radius: 100%;
  background: var(--secondary);
}
