.new-collections {
  padding: 0;
  margin: 0;
}

.collections {
  margin: 5rem 8rem 0rem 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--background);
}

.new-collections .items-wrapper {
  background-color:var(--background);
  padding: 5rem 0;
}

.new-collections h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.9;
  font-size: 5rem;
  font-weight: 600;
  gap: 1rem;
  text-shadow: 4px 4px var(--primary);
}

.new-collections .star-1,
.new-collections .star-2 {
  width: 5rem;
}

.new-collections-item {
  margin: 5rem;
  display: flex;
  gap: 2rem;
}

.new-collections button {
  width: 12rem;
  height: 4rem;
  border-radius: 5rem;
  border: 2px solid var(--text);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}