.hero {
  position: relative;
  display: flex;
  height: 80vh;
  background-color: var(--light-primary);;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  position: relative;
}

.hero-left .img-1 {
  position: absolute;
  width: 5rem;
  top: 8rem;
  left: 5rem;
}

.hero-left .img-2 {
  position: absolute;
  width: 5rem;
  top: 30rem;
  left: 45rem;
}

.hero-left h1 {
  font-style: italic;
  font-size: 6rem;
  text-align: center;
  text-shadow: 4px 4px var(--secondary);
}

.hero-left button {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  background: var(--text);
  color: var(--background);
  cursor: pointer;
  font-size: 1.25rem;
}

.hero-right {
  flex: 1;
  margin-left: 6rem;
  background-image: url('../assets/hero-img.png');
  background-size: cover;
  position: relative;
}

.hero-right img {
  position: absolute;
  top: 8rem;
  left: -7rem;
  width: 18rem;
}
