.hero {
  position: relative;
  display: flex;
  height: 80vh;
  background-color: var(--light-primary);;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  position: relative;
}

.hero-left .img-1 {
  position: absolute;
  width: 5rem;
  top: 8rem;
  left: 5rem;
}

.hero-left .img-2 {
  position: absolute;
  width: 5rem;
  top: 25rem;
  left: 38rem;
}

.hero-left .img-3 {
  position: absolute;
  width: 5rem;
  top: 29rem;
  left: 10rem;
}

.hero-left h1 {
  font-style: italic;
  font-size: 6rem;
  text-align: center;
  text-shadow: 4px 4px var(--secondary);
}

.hero-left button {
  width: 18rem;
  height: 5rem;
  border-radius: 5rem;
  border: 4px solid var(--text);
  background-color: var(--background);
  font-size: 2rem;
  font-weight: 600;
}

.hero-right {
  flex: 1;
  margin-left: 6rem;
  background-image: url('../assets/hero-img.png');
  background-size: cover;
  position: relative;
}

.hero-right img {
  position: absolute;
  top: 8rem;
  left: -7rem;
  width: 18rem;
}

.scroll-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary);
  overflow: hidden;
}

.scroll-box {
  white-space: nowrap;
}

.scroll-box div {
  display: flex;
  gap: 2em;
}

.scroll-box p {
  font-size: 1rem;
  color: var(--text);
  font-weight: 400;
  line-height: 10px;
}

.scroll-content {
  animation: scrolling 30s infinite linear;
}

@keyframes scrolling {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.LeftToRight {
  animation: LeftToRight 3s infinite linear;
}

@keyframes  LeftToRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}