.footer {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
}

.footer-top {
  padding: 3rem 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  line-height: 2.5;
}

.footer-top div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer h3 {
  padding-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.footer-top div li {
  list-style: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-top div li:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


.footer span {
  margin: 1rem 0;
  width: 40rem;
  height: 1px;
  background-color: var(--text);
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials img {
  width: 1.5rem;
}