@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Tenor+Sans&display=swap');

* {
  font-family: 'Tenor Sans', sans-serif;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
}

:root {
  --text: #2a0703;
  --background: #fffbfa;
  --primary: #EED6D3;
  --secondary: #F3E5E3;
  --accent: #93655d;
  --accent2: #CF9E99;
  --accent3: #E6BCB6;
}
